body{
font-family: 'Montserrat', sans-serif;
background-color: #FAFAFA;
}
p, h1, h2, h3, h4, h5, h6{
    margin-top: 0;
    margin-bottom: 0;

}
ul{
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
a{
    text-decoration: none;
    color: currentColor;
}
button{
    cursor: pointer;
}
img{
    display: block;
}

address{
    font-style: normal;
}

.container{
    width: 1166px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
header {
    padding-top: 24px;
    padding-bottom: 32px;
}

.nav-cont{
    display: flex;
    gap: 90px;
    align-items: center;
}

.header-navigator{
display: flex;
flex-grow: 1;
justify-content: space-between;
align-items: center;
}

.header-logo{
color: #111;
    font-size: 18px;
    font-weight: 700;
    line-height: calc(20 / 18);
    letter-spacing: -0.03em;
    display: flex;
    align-items: center;
    gap: 4px;

}
.header-logo-simply{
      font-style: italic;

}


.header-menu-list{
display: flex;
gap: 24px;
}

.header-menu-item{

}

.header-menu-link{
    color: #111;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: -0.02em;
}
.header-menu-link:hover
.header-menu-link:focus
.header-menu-link:active{
    
}

.header-soc-list{
display: flex;
gap: 14px;
}
.header-soc-item{

}

.header-soc-link{

}

/* --------------hero----------- */

.hero{
    padding-bottom: 80px;
}

.hero-container{
    background-color: rgba(17, 17, 17, 0.60);
    border-radius: 30px;
    padding: 380px 40px 40px 40px;
}

.hero-title {
color: #FFF;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.21;
    letter-spacing: -0.03em;
    margin-bottom: 32px;
    max-width: 484px;
}
.hero-buttons{
    display: flex;
    align-items: center;
}

.hero-buy-btn {
        padding: 14px 40px 14px 40px;
    color: #FFF;
        font-family: inherit;
        font-size: 14px;
        font-weight: 600;
        line-height: normal;
        border-radius: 100px;
            background: #FD9222;
            border: none;
        cursor: pointer;
        margin-right: 18px;



}

.hero-made-btn {
        padding: 14px 40px 14px 40px;
    color: #FFF;
    font-family: inherit;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 100px;
        border: 1px solid #FFF;
        background-color: transparent;
}

.hero-down-btn {
    color: #FFF;
    font-family: inherit;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.29;
        letter-spacing: -0.03em;
        margin-left: auto;
}

/* ----------------feature--------------- */

.features {
    background: #1E1823;
    padding-top: 50px;
    padding-bottom: 50px;
}

.features-list{
    display: flex;
    padding-left: 18px;
    padding-right: 18px;
    gap: 88px;
}

.features-item{
width: calc((100% - 88px *2) / 3);
}

.title-item {
    color: #FFF;
 font-size: 18px;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 18px;
}

.paragraph-item { color: rgba(255, 255, 255, 0.70);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: -0.02em;

}

/* _____________TASTE---------------- */


.taste {
    padding-top: 120px;
}

.taste-title {
    color: #111;
        text-align: center;
        font-size: 24px;
        font-weight: 600;
        line-height: 1.16;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        max-width: 412px;
        margin: 0 auto 28px;
}
.span-taste{
    color: #FD9222;
}

.taste-paragraph {
    color: #111;
        text-align: center;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.02em;
        max-width: 486px;
        margin: 0 auto 50px;
}

.taste-list {
    display: flex;
 flex-wrap: wrap;
 gap: 24px 32px;
    
}

.taste-item {
    border-radius: 15px;
        border: 1px solid #FD9222;
        background: #FFF;
        width: calc((100% - 96px) /4);
        padding: 28px 24px;
}

.img-taste{
    margin: 0 auto;
    margin-bottom: 36px;
}



.taste-title-item {
    color: #111;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.28;
        letter-spacing: -0.28px;
        padding: 5px;
}

/* --------------------------------SECTION MADE---------------- */


.section-made {
    padding-top: 120px;
}

.img-made{
 
}

.name-made{
    color: #FD9222;
}

.title-section-made {color: #111;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.72px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.made-img-list-cont{
    display: flex;
    gap: 20px;
}


.container-made{
background-color: #ffffff;
padding: 32px;
}

.titletwo-section-made {
    color: #111;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
    margin-bottom: 28px;
    max-width: 350px;
}

.list-section-made{

}

.item-section-made + .item-section-made {
 margin-top: 20px;
}


.parag-made-li{
color: #111;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: -0.02em;
}
 
/* -----------------------SECTION Products---------------- */
 /* -----------------------SECTION Products---------------- */



.section-products{
    padding-top: 120px;

}

.title-section-products {
    color: #111;
        text-align: center;
        font-size: 24px;
        font-weight: 600;
        line-height: 1.16;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        margin-bottom: 50px;
}
.name-product{
color: #FD9222;
}


.list-section-products{
    display: flex;
    flex-wrap: wrap;
    gap: 24px 18px;

}

.item-section-products{
width: 270px;
    height: 364px;
    flex-shrink: 0;
    border-radius: 15px;
        border: 1px solid rgba(17, 17, 17, 0.10);
        background: #FFF;
}
.container-product{
    display: flex;
    flex-direction: column;
 text-align: center;

}
.img-section-product{
    margin: 32px 20px 20px;
}


.title-name-products {
    color: #111;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

.paragraph-title-uah{
color: rgba(17, 17, 17, 0.70);
font-family: inherit;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: -0.02em;
    padding-bottom: 18px;
}
.button-uah {
    color: #111;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        border-radius: 100px;
            border: 1px solid rgba(17, 17, 17, 0.10);
            background: #FAFAFA;
}


/* ------------------SECTION TOP----------- */

/* ------------------SECTION TOP----------- */




.section-top {
    padding-top: 120px;
}

.title-section-top {
    margin-bottom: 50px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

.name-span{
color: #FD9222;
}


.list-section-top{
display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 16px;

}
.item-section-top{

}

.title-item-section-top {
text-align: center;
padding: 28px 28px;
    color: #111;
        font-size: 18px;
        font-weight: 600;
        line-height: 1.33;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        border-radius: 0px 0px 15px 15px;
            border-right: 1px solid rgba(17, 17, 17, 0.10);
            border-bottom: 1px solid rgba(17, 17, 17, 0.10);
            border-left: 1px solid rgba(17, 17, 17, 0.10);
            background: #FFF;
}

/* --------section-reviews-------- */

.section-reviews{
    padding-top: 120px;
}

.name-chocolate{
color: #FD9222;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.72px;
    text-transform: uppercase;
}
.title-section-reviews {
color: #111;
text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.72px;
    text-transform: uppercase;
}

.list-section-reviews {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
    margin-top: 50px;

}
.img-reviews{

}

.item-section-reviews {
    width: 360px;
        height: 200px;
        flex-shrink: 0;
    border-radius: 15px;
        border: 1px solid rgba(17, 17, 17, 0.10);
        background: #FFF;
        box-shadow: 0px 9.049px 100px 0px rgba(17, 17, 17, 0.03);

}

.name-title-section-reviews {
    color: #111;
        text-align: center;
        font-size: 18px;
        font-weight: 600;
        line-height: 1.33;
}

.paragraph-item-section-reviews{
    color: rgba(17, 17, 17, 0.70);
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.28;
    letter-spacing: -0.02em;
}

.button-section-reviews {
    display: flex;
        width: 222px;
        height: 50px;
        padding: 14px 40px;
        justify-content: center;
        align-items: flex-start;
        gap: 14px;
        flex-shrink: 0;
margin: 50px auto;
    color: #111;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        border-radius: 100px;
            border: 1px solid #FD9222;
}



.footer{
    background: #1E1823;
}
.container-foot{
    display: flex;
}

.title-footer {
    padding-top: 50px;
    max-width: 300px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.21;
    letter-spacing: -0.03em;
}

.footer-name-choco{
color: #FD9222;
}


.parag-footer {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.28;

}

.list-footer {
display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;

}

.item-footer {}

.link-soc-footer{

}




.footer-address {

}

.parag-address {
    color: #FFF;
        text-align: center;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.28;
        /* 128.571% */

}


.list-address {
    display: flex;
}

.link-contact{

}

.link-cont { 
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.28;
    letter-spacing: -0.02em;
}


.item-nav-footer{

}

.link-footer {
    color: #FFF;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.14;
        /* 114.286% */
        letter-spacing: -0.02em;
}




.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}