body{
font-family: 'Montserrat', sans-serif;
}
p, h1, h2, h3, h4, h5, h6{
    margin-top: 0;
    margin-bottom: 0;

}
ul{
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
a{
    text-decoration: none;
    color: currentColor;
}
button{
    cursor: pointer;
}

img{
    display: block;
}

address{
    font-style: normal;
}
header{
    padding-top: 24px;
    padding-bottom: 32px;
}
.container{
    width: 1166px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.nav-cont{
    display: block;
}

.header-navigator{

}

.header-logo{
    color: #111;
        font-size: 18px;
        font-style: italic;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: -0.54px;
        display: block;
        

}
.header-logo-chocolate{
    color: #111;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: -0.03em;
    
}
.header-menu-list{

}
.header-menu-item{

}

.header-menu-link{
    color: #111;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: -0.02em;
}
.header-menu-link:hover
.header-menu-link:focus
.header-menu-link:active{
    
}

.header-soc-list{

}
.header-soc-item{

}

.header-soc-link{

}

.hero{
    padding-bottom: 80px;
}

.hero-container{
    background-color: rgba(17, 17, 17, 0.60);
    border-radius: 30px;
    padding: 380px 40px 40px 40px;
}

.hero-title {
color: #FFF;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.21;
    letter-spacing: -0.03em;
    margin-bottom: 32px;
    max-width: 484px;
}

.hero-buy-btn {
    color: #FFF;
        font-family: inherit;
        font-size: 14px;
        font-weight: 600;
        line-height: normal;
        cursor: pointer;
}

.hero-made-btn {color: #FFF;
    font-family: inherit;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.hero-down-btn {
    color: #FFF;
    font-family: inherit;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.29;
        /* 128.571% */
        letter-spacing: -0.03em;
}

/* ----------------feature--------------- */

.features {
    background: #1E1823;
    padding-top: 50px;
    padding-bottom: 50px;
}

.features-list{

}

.features-item{

}

.title-item {
    color: #FFF;
 font-size: 18px;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 18px;
}

.paragraph-item { color: rgba(255, 255, 255, 0.70);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: -0.02em;

}

/* _____________TASTE---------------- */


.taste {
    padding-top: 120px;
}

.taste-title {
    color: #111;
        text-align: center;
        font-size: 24px;
        font-weight: 600;
        line-height: 1.16;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        max-width: 412px;
        margin: 0 auto 28px;
}
.span-taste{
    color: #FD9222;
}

.taste-paragraph {
    color: #111;
        text-align: center;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.02em;
        max-width: 456px;
        margin: 0 auto 50px;
}

.taste-list {}

.taste-item {}

.taste-title-item {
    color: #111;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 18px;
        /* 128.571% */
        letter-spacing: -0.28px;
}

.section-made {
    padding-top: 120px;
}
.name-made{
    color: #FD9222;
}

.title-section-made {color: #111;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    /* 116.667% */
    letter-spacing: -0.72px;
    text-transform: uppercase;}

.titletwo-section-made {color: #111;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
}

.list-section-made{

}

.item-section-made {color: #111;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: -0.02em;
}

.section-products{

}

.title-section-products {
    color: #111;
        text-align: center;
        font-size: 24px;
        font-weight: 600;
        line-height: 1.16;
        /* 116.667% */
        letter-spacing: -0.03em;
        text-transform: uppercase;
}
.name-product{
color: #FD9222;
}
.list-section-products{

}

.item-section-products{

}

.title-name-products {
    color: #111;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

.paragraph-title-uah{
color: rgba(17, 17, 17, 0.70);
font-family: inherit;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: -0.02em;
}
.button-uah{
    color: #111;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
}

.section-top {}

.title-section-top {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}
.name-span{
color: #FD9222;
}

.list-section-top{

}
.item-section-top{

}

.title-item-section-top {
    color: #111;
        font-size: 18px;
        font-weight: 600;
        line-height: 1.33;
        letter-spacing: -0.02em;
        text-transform: uppercase;
}

/* --------section-reviews-------- */

.name-chocolate{
color: #FD9222;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.72px;
    text-transform: uppercase;
}
.title-section-reviews {
color: #111;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.72px;
    text-transform: uppercase;
}

.list-section-reviews {}

.item-section-reviews {}

.name-title-section-reviews {
    color: #111;
        text-align: center;
        font-size: 18px;
        font-weight: 600;
        line-height: 1.33;
}

.paragraph-item-section-reviews {color: rgba(17, 17, 17, 0.70);
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.28;
    /* 128.571% */
    letter-spacing: -0.02em;
}

.button-section-reviews {
    color: #111;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
}



.footer{
    background: #1E1823;
}


.title-footer {
    color: #FFF;
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.21;
    letter-spacing: -0.03em;
}

.footer-name-choco{
color: #FD9222;
}


.parag-footer {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.28;

}

.list-footer {}

.item-footer {}

.link-soc-footer{

}




.footer-address {

}

.parag-address {
    color: #FFF;
        text-align: center;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.28;
        /* 128.571% */

}


.list-address {}

.link-contact{

}

.link-cont { 
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.28;
    /* 128.571% */
    letter-spacing: -0.02em;
}


.item-nav-footer{

}

.link-footer {
    color: #FFF;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.14;
        /* 114.286% */
        letter-spacing: -0.02em;
}




.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}